{% extends 'base_accounts.html' %}

{% block content %}

<style>
  .jumbotron {
    background: linear-gradient(to right, #4DE2B0, #2ADAE1);
  }
  body{
    background: #DAE2DE;

    }

</style>

<body>
  <div class="jumbotron text-center">
  <img src='/static/images/eASL_logo.png'>
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </div>
</br>
  <div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div>
</br>
  <div>
    <input class="btn btn-primary" type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  </form>

</div>

<div class='footer'>
  <div class='text-center'>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'parent_signup' %}">Parent Registration</a></p>
    <p><a href="{% url 'teacher_signup' %}">Teacher Registration</a></p>
  </div>
</div>


</body>
{% endblock %}
