{% extends "base.html" %}
{% block content %}
<style>
.jumbotron {
  background: linear-gradient(to right, #4DE2B0, #2ADAE1);
}
body{
  background: #E7FBFB;
}
.logo{
  position: relative;
  float:left;

}
</style>
<img class ='logo' src='/static/images/eASL_logo.png' height="50" width="75">
<div class="jumbotron text-center">
  <h1><strong>About eASL</strong> </h1>
</div>

<div class="text-center">
  <div class="lead">
    eASL is here to bridge the communication gap that exists between students with a hearing disability and their educators.<br/> We allow the student to simply select the image of what matches what they are trying to tell their teacher <br/>and store the data creating a personalized action log for each student.

<p>
	<br/><strong>Creators:</strong>
	<br/>Terrance Curley
	<br/>Thomas Haley
	<br/>James Parsons

  </div>
</div>

{% endblock %}
