{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1 class="text-center"> About eASL </h1>
</div>

<div class="text-center">
  <div class="lead">
    eASL is here to bridge the communication gap that exists between students with a hearing disability
    and their educators. We allow the student to simply select the image of what matches what they are trying to
    tell their teacher and store the data creating a personalized action log for each student.
  </div>
</div>

{% endblock %}
