{% extends "base.html" %}
{% block content %}
<style>
  .jumbotron{
    background: linear-gradient(to right, #4DE2B0, #2ADAE1);
  }
  body{
    background: #E7FBFB;
  }
  .logo{
    position: relative;
    float:left;
  }
</style>

<img class ='logo' src='https://s3.amazonaws.com/easl-static/eASl_logo.png' height="50" width="75">
<div class="jumbotron text-center">
  <h1 class="text-center"> Action Log </h1>
  <input type=button class="btn btn-primary" value="Back" onClick="javascript:history.go(-1);">

</div>

{% for action in actions %}
  <div class="text-center">
    <div class="col-md-4">
      {{ action.student }}
    </div>
    <div class="col-md-4">
        {{ action.get_action_display }}
    </div>
    <div class="col-md-4">
        {{ action.time }}
    </div>
  </div>
{% endfor %}

{% endblock %}
