{% extends "base.html" %}
{% block content %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
  #form{
    border: 1px solid powderblue;
    text-align: center;
  }
</style>

{% if display_success %}
  <div class="alert alert-success">
    <h4 class = "text-center">Success!</h4>
  </div>
{% endif %}

<div class="page-header">
  <h1 class="text-center">
    <a class="btn btn-default" href="{% url 'student_detail' student.id %}";>Go Back</a>
    Edit Profile
  </h1>
</div>

<div id='form'>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-default" type="submit" value="Save"/>
  </form>
  <a class="btn btn-danger" onclick="showDeletion()";>Delete Profile</a>
  <div id = "Deletion" style="visibility:hidden; display:none;">
    <p>Deleting a student's profile will clear all of their data and actions.</p>
    <a class="btn btn-danger" href="{% url 'delete_student' student.id %}";>Confirm Deletion of Profile</a>
    <a class="btn btn-default" onclick="showDeletion()";>Cancel</a>
  </div>
</div>

<script>
  function showDeletion() {
    el = document.getElementById("Deletion");
    el.style.display = (el.style.visibility == "visible") ? "none" : "block";
    el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>

{% endblock %}
