{% extends "base.html" %}
{% block content %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>

  #form{
    border: 5px solid powderblue;
    text-align: center;
  }

  .jumbotron{
    background: linear-gradient(to right, #4DE2B0, #2ADAE1);
  }
  body{
    background: #E7FBFB;
  }
  .logo{
    position: relative;
    float:left;
  }
</style>

{% if display_success %}
  <div class="alert alert-success">
    <h4 class = "text-center">Success!</h4>
  </div>
{% endif %}
<img class ='logo' src='/static/images/eASL_logo.png' height="150" width="200">

<div class="jumbotron text-center">
  <h1>
    <a class="btn btn-primary" href="{% url 'student_detail' student.id %}";>Go Back</a>
    Edit Profile
  </h1>
</div>

<div id='form'>
  <form method="post">
  </br>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-default" type="submit" value="Save"/>
  </form>
  <a class="btn btn-danger" onclick="showDeletion()";>Delete Profile</a>
  <div id = "Deletion" style="visibility:hidden; display:none;">
    <p>Deleting a student's profile will clear all of their data and actions.</p>
    <a class="btn btn-danger" href="{% url 'delete_student' student.id %}";>Confirm Deletion of Profile</a>
    <a class="btn btn-default" onclick="showDeletion()";>Cancel</a>
  </div>
</div>

<script>
  function showDeletion() {
    el = document.getElementById("Deletion");
    el.style.display = (el.style.visibility == "visible") ? "none" : "block";
    el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>

{% endblock %}
