{% extends "base_accounts.html" %}
{% block content %}

<style>
 .jumbotron{
   background: linear-gradient(to right, #4DE2B0, #2ADAE1);
 }
 body{
   background: #E7FBFB;
 }
 .logo{
   position: relative;
   float:left;
 }
</style>

<img class ='logo' src='https://s3.amazonaws.com/easl-static/eASl_logo.png' height="50" width="75">

<div class="jumbotron text-center">
  <h1 class="text-center"> Parent Page </h1>
</div>

<a class="btn btn-primary" href="{% url 'parent_edit_page' %}">
  Edit parent Info
</a>

<div class="page-header">
  <h3 class="text-center">
    {{ parent.first_name|capfirst }} {{ parent.last_name|capfirst }}
  </h3>
</div>

{% for student in students %}
  <div class="page-header">
    <h3 class="text-center">
      <a href="{% url 'student_detail' student.id %}">
      {{ student.first_name|capfirst }} {{ student.last_name|capfirst }}
      </a>
    </h3>
  </div>
{% endfor %}

<div style="background:transparent !important" class="jumbotron text-center">
  <p><a href="/accounts/logout">Log Out</a></p>
</div>

{% endblock %}
