{% extends "base.html" %}
{% block content %}
<style>
  #form{
    border: 5px solid powderblue;
    text-align: center;
  }
  .jumbotron {
    background: linear-gradient(to right, #4DE2B0, #2ADAE1);
  }
  body{
    background: #E7FBFB;
  }
  .logo{
    position: relative;
    display: inline-block;
    float:left;
  }

</style>

{% if display_success %}
  <div class="alert alert-success">
    <h4 class = "text-center">Success!</h4>
  </div>
{% endif %}
<img class ='logo' src='https://s3.amazonaws.com/easl-static/eASl_logo.png' height="50" width="75">

<div class="jumbotron text-center">
  <h1> New Student Registration Form </h1>
</div>

<div id='form'>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-default" type="submit" value="Register"/>
  </form>
</div>
{% endblock %}
