{% extends "base.html" %}
{% block content %}
<style>
  #form{
    border: 1px solid powderblue;
    text-align: center;
  }
</style>

{% if display_success %}
  <div class="alert alert-success">
    <h4 class = "text-center">Success!</h4>
  </div>
{% endif %}

<div class="page-header">
  <h1 class="text-center"> New Student Registration Form </h1>
</div>

<div id='form'>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-default" type="submit" value="Register"/>
  </form>
</div>
{% endblock %}
