
{% extends "base.html" %}
{% block content %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<body>

		<div class="jumbotron text-center">
    		<h1>eASL</h1>
			<form action="http://127.0.0.1:8000/student_detail/">
				<p>
					<label>Please Choose a student to start:</label>
					<input type="text" name ="Student Name" list="students"/>
                    {% for student in students %}

					    <datalist id ="students">
						    <option>{{student.first_name}}</option>

					    </datalist>
                    {%endfor%}
					<br/><br/>

					<input type="submit" value="Log In" />
				</p>
			</form>

			<input type="submit" value="Register New Student" onclick="visitPage();"/>
			<script>
				function visitPage(){
					window.location="http:127.0.0.:8000/registration_page";
				}
			</script>

		</div>

</body>
</html>

{%endblock%}
