
{% extends "base.html" %}
{% block content %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="jumbotron text-center">
	<h1>eASL</h1>
<div>
Please select a student to start:
</div>

<div class = "form-inline">
	<select class="form-control" id="studentDropDown" style="margin-left:auto; margin-right:auto; width:auto;">
		{% for student in students %}
			<option value="{{ student.id }}">{{ student.first_name }} {{ student.last_name}}</option>
		{% endfor %}
	</select>
</div>
<a class="btn btn-primary" onclick = "gotoStudent()" style="margin-top:5px;">Log In</a>
<a class="btn btn-default" href="{% url 'registration_page' %}"; style="margin-top:5px;">New Student</a>
<a class="btn btn-default" href="{% url 'parent_page' %}"; style="margin-top:5px;">Parent Log In</a>

<script>
	function gotoStudent(){
		var student_id = document.getElementById("studentDropDown").value;
		var url = '{% url 'student_detail' 999 %}'.replace (999, student_id);
		window.location.href = url;
	}
</script>

</div>
{%endblock%}
