{% extends "base.html" %}
<!-- {# Load the tag library #}
{% load bootstrap3 %}
{# Load Static images and JS #}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %} -->
{% block content %}
<style>
  #timeline{
    background: #E7FBFB;
  }
  .jumbotron{
    background: linear-gradient(to right, #4DE2B0, #2ADAE1);

    }
  .logo{
    position: absolute;
    float:left;

  }

</style>
<img class ='logo' src='https://s3.amazonaws.com/easl-static/eASl_logo.png' height="50" width="75">


<div class="jumbotron text-center">
  <h3>

    <a class="btn btn-primary" href="{% url 'home' %}";>Go Back</a>
    {{ student.first_name|capfirst }} {{ student.last_name|capfirst }}
    <small>{{ student.age }} years old</small>
    <small>{{ student.gender }}</small>
    {% if request.user.is_staff %}
      <br>
      <a class="btn btn-primary" href="{% url 'edit_page' student.id %}">
        Edit Info
      </a>
    {% endif %}
  </h3>
</div>
{% if request.user.is_staff %}
<div class="text-center">
    {% buttons %}
      <a class="btn btn-primary" style="margin-bottom:5px;" href="{% url 'save_action' student.id 'P' %}";>
        <span class="glyphicon glyphicon-star" style="font-size: 64px"></span><br>
        <h4>Play</h4>
      </a>
      <a class="btn btn-primary" style="margin-bottom:5px;" href="{% url 'save_action' student.id 'S' %}";>
        <span class="glyphicon glyphicon-apple" style="font-size: 64px"></span><br>
        <h4>Snack</h4>
      </a>
      <a class="btn btn-primary" style="margin-bottom:5px;" href="{% url 'save_action' student.id 'O' %}";>
        <span class="glyphicon glyphicon-tree-deciduous" style="font-size: 64px;"></span><br>
        <h4>Outside</h4>
      </a>
      <!-- <a class="btn btn-primary" href="{% url 'save_action' student.id 'B' %}";>
        <span style="font-size: 64px; background-image: url('../../static/images/toilet.ico'); display:block"></span><br>
        <h4>Bathroom</h4>
      </a> -->
      <a class="btn btn-primary" style="margin-bottom:5px;" href="{% url 'save_action' student.id 'C' %}";>
        <span class="glyphicon glyphicon-earphone" style="font-size: 64px"></span><br>
        <h4>Home</h4>
      </a>
      <a class="btn btn-primary" style="margin-bottom:5px;" href="{% url 'save_action' student.id 'N' %}";>
        <span class="glyphicon glyphicon-plus" style="font-size: 64px"></span><br>
        <h4>Nurse</h4>
      </a>
      <a class="btn btn-primary" style="margin-bottom:5px;" href="{% url 'save_action' student.id 'R' %}";>
        <span class="glyphicon glyphicon-book" style="font-size: 64px"></span><br>
        <h4>Read</h4>
      </a>
    {% endbuttons %}
  </div>
{% endif %}

<div class="page-header">
  <h3 class="text-center"> Today's Timeline
    <a class="btn btn-default" href="{% url 'student_action_log' student.id %}";>
      View {{ student.first_name|capfirst }}'s Action Log
    </a>
  </h3>
</div>

{% for action in actions.reverse %}
  <div class="text-center" id=timeline>
    <div class="row">
      <div class="col-md-6" style="font-size: 18px">
          {% if action.action == 'P' %}
            {{action.get_action_display}}
            <span class="glyphicon glyphicon-star"></span><br>
          {% elif action.action == 'S' %}
            {{action.get_action_display}}
            <span class="glyphicon glyphicon-apple"></span><br>
          {% elif action.action == 'O' %}
            {{action.get_action_display}}
            <span class="glyphicon glyphicon-tree-deciduous"></span><br>
          {% elif action.action == 'B' %}
            {{action.get_action_display}}
            <!-- <span style="background-image: url('../../static/images/toilet.ico');"></span><br> -->
          {% elif action.action == 'C' %}
            {{action.get_action_display}}
            <span class="glyphicon glyphicon-earphone"></span><br>
          {% elif action.action == 'N' %}
            {{action.get_action_display}}
            <span class="glyphicon glyphicon-plus"></span><br>
          {% elif action.action == 'R' %}
            {{action.get_action_display}}
            <span class="glyphicon glyphicon-book"></span><br>
          {% endif %}
      </div>
      <div class="col-md-6" style="font-size: 18px">
          {{ action.time }}
      </div>
    </div>
  </div>
{% endfor %}

<div class="text-center" id=timeline>
  <small>Icons courtesy of <a href="https://glyphicons.com/">glyphicons.com</a>.</small>
</div>

{% endblock %}
