{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load Static images and JS #}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<script type="text/javascript">
    function addImage(activity) {
        var img = document.createElement("img");
        switch(activity) {
            case 'play':
            img.src = "{% static "images/Toys.png" %}";
            break;
            case 'snack':
            img.src = "{% static "images/Apple.png" %}";
            break;
            case 'outside':
            img.src = "{% static "images/Park.png" %}";
            break;
            default:
            console.log("Error: Activity not found.");
        }
        img.height = 100;
        img.width = 100;

        document.body.appendChild(img);
    }
</script>
<div class="page-header">
  <h3>
    {{ student.first_name|capfirst }} {{ student.last_name|capfirst }}
    <small>{{ student.age }} years old</small>
    <small>{{ student.gender }}</small>
  </h3>
</div>

<div class="text-center">
  {% buttons %}
  <button class="btn btn-primary" onclick="addImage('play')";>
    {% bootstrap_icon "star" %} Play
  </button>
  <button class="btn btn-primary" onclick="addImage('snack')";>
    {% bootstrap_icon "apple" %} Snack
  </button>
  <button class="btn btn-primary" onclick="addImage('outside');">
    {% bootstrap_icon "tree-deciduous" %} Outside
  </button>
  {% endbuttons %}
</div>
{% endblock %}
